body {
  margin-top: 2em;
  margin-bottom: 5em;
}

Table {
  padding-bottom: 5em;
  width: 60%;
  margin: auto;
  padding-bottom: 100px;
  border: 1px solid teal;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
}

Table,
td,
th {
  border: 1px solid black;
}

th {
  height: 50px;
  color: white;
  background-color: teal;
}

h1 {
  text-align: center;
}

tbody tr:hover {
  background: teal;
  color: white;
}
